aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
cffi==2.0.0
click==8.3.1
colorama==0.4.6
cryptography==46.0.4
fastapi==0.115.6
frozenlist==1.8.0
h11==0.16.0
idna==3.11
Jinja2==3.1.5
MarkupSafe==3.0.3
multidict==6.7.1
propcache==0.4.1
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
PyMySQL==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.20
starlette==0.41.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.34.0
websockets==16.0
yarl==1.22.0
